.dashboard-content {
    margin-left: 280px; 
    padding: 20px;
    background-color: #121c2b;
    min-height: 100vh;
    color: #ffffff;
  }
  
  h1 {
    font-size: 1.8rem;
    color: White;
    margin-bottom: 20px;
  }
  
  .stats-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
    width: 100%;
    height: 250px;
    background-color: #1a2332   ;
    border-radius: 17px;
  }
  .course-container{
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    margin-top: 20px;
    width: 100%;
    height: 500px;
    background-color: #1a2332;
    border-radius: 17px;
    /* overflow-y:scroll; */
  }
  .stat-box {
    flex: 1;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .stat-box h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #ffffff;
  }
  
  .stat-box p {
    font-size: 1.5em;
    color: #9fef00;
    font-weight: bold;
  }
  
  /* Individual Stat Colors */
  .stat-box.offensive {
    background-color: #ff4c4c; /* Red */
  }
  
  .stat-box.defensive {
    background-color: #4c79ff; /* Blue */
  }
  
  .stat-box.general {
    background-color: #2ecc71; /* Green */
  }
  
  /* Hover Effect */
  .stat-box:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3), 0px 0px 10px rgba(159, 239, 0, 0.7);
  }
  