:root {
  /* Dark Theme */
  --bg-color: rgb(18, 28, 43);
  --container-bg-color: rgb(24, 34, 50);
  --text-color: #ffffff;
  --input-bg-color: rgb(35, 45, 60);
  --button-bg-color: rgb(159, 239, 0);
  --button-text-color: #1a1a1a;
  --button-hover-color: rgb(144, 215, 0);
}

/* Light Theme */
[data-theme="light"] {
  --bg-color: #f0f0f5;
  --container-bg-color: #ffffff;
  --text-color: #000000;
  --input-bg-color: #e0e0e0;
  --button-bg-color: rgb(159, 239, 0);
  --button-text-color: black;
  --button-hover-color: rgb(144, 215, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Admin-login-component-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
  font-family: Arial, sans-serif;
  
}

.login-container {
  width: 400px;
  padding: 2rem;
  background-color: var(--container-bg-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: var(--text-color);
}

.logo-container {
  margin-bottom: 1rem;
}

.logo {
  width: 150px;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-color);
}

.input-field {
  width: 100%;
  padding: 0.75rem;
  margin: 0.5rem 0;
  border: none;
  border-radius: 4px;
  background-color: var(--input-bg-color);
  color: var(--text-color);
  font-size: 1rem;
}

.input-field:focus {
  outline: none;
  border: 1px solid var(--button-bg-color);
}

.login-button {
  width: 100%;
  padding: 0.75rem;
  margin-top: 1rem;
  background-color: var(--button-bg-color);
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 600;
  color: var(--button-text-color);
  cursor: pointer;
  transition: .2s ease;
}

.login-button:hover {
  background-color: var(--button-hover-color);
}

.theme-toggle {
  position: absolute;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

.theme-toggle img {
  width: 30px;
  height: 30px;
}

.footer{
  position: absolute;
  bottom: 20px;
  left: 43%;
  cursor: pointer;
}
.footer p{
  color: var(--text-color);
}
/* AdminLogin.css */
.alert {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ff4d4d; /* Red background for error alerts */
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeOut 5s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    bottom: -50px;
  }
}
