:root {
  /* Dark Theme */
  --bg-color: #f5f6fa;
  --container-bg-color: #ffffff;
  --text-color: #000000;
  --input-bg-color: rgb(204, 204, 204);
  --button-bg-color: #f5f6fa;
  --button-text-color: #ffffff;
  --button-hover-color: #f5f6fa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login_page_cover {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  font-family: Arial, sans-serif;
}

.login-container {
  width: 400px;
  padding: 2rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: black;
}

.logo-container {
  margin-bottom: 1rem;
}

.logo {
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-color);
}

.input-field {
  width: 100%;
  padding: 0.75rem;
  margin: 0.5rem 0;
  border: none;
  border-radius: 4px;
  background-color: var(--input-bg-color);
  color: #f5f6fa;
  font-size: 1rem;
}

.input-field:focus {
  outline: none;
  border: 1px solid var(--button-bg-color);
}

.options-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 5px;
  position: relative;
  width: 20px;
  height: 20px;
  background-color: #1e2939;
  border-radius: 4px;
  appearance: none;
}

.checkbox-container input[type="checkbox"]:checked {
  background-color: var(--button-bg-color);
  border-color: var(--button-bg-color);
}

.checkbox-container input[type="checkbox"]::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: transparent;
}

.checkbox-container input[type="checkbox"]:checked::before {
  content: '✔';
  color: #000000;
}

.RememberMeLabel {
  color: #8799b5;
}

.forgot-password {
  font-size: 0.9rem;
  color: #8799b5;
  text-decoration: none;
  transition: .1s ease-in;
}

.forgot-password:hover {
  color: var(--button-bg-color);
  text-decoration: underline;
}

.login-button {
  width: 100%;
  padding: 0.75rem;
  margin-top: 1rem;
  background-color: #f5f6fa;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  cursor: pointer;
  transition: 0.2s ease;
}

.login-button:hover {
  background-color: var(--button-hover-color);
}

.Signup p {
  color: #8799b5;
}

.Signup {
  margin: 3% 0 0 0;
  width: 100%;
  align-items: center;
  justify-content: start;
  display: flex;
  gap: 5px;
}

.create-account-link {
  color: var(--button-bg-color);
  text-decoration: none;
  font-weight: 400;
  transition: .2s ease;
}

.create-account-link:hover {
  color: #0056b3; /* Darker blue for hover */
  text-decoration: underline;
  font-weight: 500;
}
